apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:broker-tag
        ports:
        - containerPort: 80
path: spec.template.spec.containers[0].image
old_value: nginx:broker-tag
new_value: nginx:latest
calculation: N/A - image tag correction based on manifest error and previous working
  state
